html{
    margin: 0;
    padding: 0;
    background-color:whitesmoke ;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.envoltura{
    padding: 30px;
}
.imagen{
    display: flex;
    justify-content: center;
}
.personalInfo{
    display: block;
    margin: 20px;
}
.personalInfo h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center; 
}
.infoContainer{
    display: flex;
}
.imagen img{
    width: auto;
    height: 50vh;
    text-align: center;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-align: center;
}
.rrss{
    margin: 0;
    background-color: cornflowerblue;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .rrss a{
    color: white;
    text-decoration: none;
  }
  .rrss i{
    padding: 10px;
    transform: scale(1.5);
  }
  .formacion{
      display: flex;
      flex-direction: row; 
      justify-content: space-around;
      align-items: center;
  }
  .formacion img{
      box-sizing:content-box;
      width: 150px;
      height: 50px;
  }
  .formacion p{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }; 